
services:
  db:
    image: postgres:16
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db_init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    volumes:
      - redis_data:/data

  web:
    build: .
    command: sh -c "python manage.py collectstatic --noinput && gunicorn ccu_project.wsgi:application --bind 0.0.0.0:8000 --workers 4"
    env_file: .env
    volumes:
      - .:/app
      - ./static:/app/static
      - ./media:/app/media
      - ./backups:/var/backups/postgres
      - /mnt/mount:/mnt/mount
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A ccu_project worker -l info --pool=solo
    env_file: .env
    volumes:
      - .:/app
      - ./backups:/var/backups/postgres
    depends_on:
      - db
      - redis

  celery-beat:
    build: .
    command: celery -A ccu_project beat -l info
    env_file: .env
    volumes:
      - .:/app
      - ./backups:/var/backups/postgres
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:1.27
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/app/static
      - ./media:/app/media
      - /mnt/mount:/mnt/mount
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  postgres_data:
  redis_data:
