<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>"Восстановление пароля"</title>
</head>
<body>
    <p>Вы получили это письмо, потому что запросили восстановление пароля для вашего аккаунта на сайте {{ site_name }}.</p>

    <p>Пожалуйста, перейдите по следующей ссылке и создайте новый пароль:</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Восстановить пароль
        </a>
    </p>

    <p>Если ссылка не работает, скопируйте и вставьте в браузер следующую ссылку</p>
    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

    <p>Это письмо сгенерировано роботом сайта {{ site_name }}, не нужно на него отвечать.</p>
</body>
</html>


