.application-card {
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s;
}

.application-card .card {
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
}

.application-card .card-body {
    padding: 0.3rem !important;
    font-size: 0.8rem;
    line-height: 1.2;
}

.application-card h6 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}
.card-text {
    font-size: 1.0rem;
    margin-bottom: 0.25rem;
}
.quota-name {
    font-size: 2.0rem;
    margin-bottom: 0.25rem;
    margin-top: 0.0rem;
}

.application-card p {
    margin-bottom: 0.25rem;
}

.badge {
    font-size: 0.65rem;
    padding: 0.2em 0.4em;
}

.quota-group {
    height: 180px;
    cursor: pointer;
    transition: transform 0.2s;
}
.quota-group {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.quota-group {
    background-color: #f8f9fa;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.2s;
}

